{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- ======= Header ======= -->
<header id="header">
    <div class="d-flex flex-column">

        <div class="profile">
            <img src="{{ about_data.photo.thumb.url }}" alt="" class="img-fluid rounded-circle">
            <h1 class="text-light"><a href="{% url 'core:index' %}">{{ about_data.name|slice:11 }}</a></h1>

            <div class="social-links mt-3 text-center">
                {% if about_data.linkedin %}
                <a href="{{ about_data.linkedin }}" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                {% endif %}
                {% if about_data.github %}
                <a href="{{ about_data.github }}" class="github"><i class="bx bxl-github"></i></a>
                {% endif %}
                {% if about_data.facebook %}
                <a href="{{ about_data.facebook }}" class="facebook"><i class="bx bxl-facebook"></i></a>
                {% endif %}
                {% if about_data.instagram %}
                <a href="{{ about_data.instagram }}" class="instagram"><i class="bx bxl-instagram"></i></a>
                {% endif %}
                {% if about_data.twitter %}
                <a href="{{ about_data.twitter }}" class="twitter"><i class="bx bxl-twitter"></i></a>
                {% endif %}
                {% if about_data.skype %}
                <a href="{{ about_data.skype }}" class="skype"><i class="bx bxl-skype"></i></a>
                {% endif %}
            </div>
        </div>

        <!-- .nav-menu -->
        <nav id="navbar" class="nav-menu navbar">
            <ul>
                <li>
                    <a href="#hero" class="nav-link scrollto active"><i
                            class="bx bx-home"></i> <span>Home</span></a>
                </li>
                <li>
                    <a href="#about" class="nav-link scrollto"><i
                            class="bx bx-user"></i> <span>About</span></a>
                </li>
                <li>
                    <a href="#skills" class="nav-link scrollto"><i
                            class="bx bx-user"></i> <span>Skills</span></a>
                </li>
                <li>
                    <a href="#resume" class="nav-link scrollto"><i
                            class="bx bx-file-blank"></i> <span>Resume</span></a>
                </li>
                <li>
                    <a href="#portfolio" class="nav-link scrollto"><i
                            class="bx bx-book-content"></i><span>Portfolio</span></a>
                </li>
                <li>
                    <a href="#services" class="nav-link scrollto"><i
                            class="bx bx-server"></i> <span>Services</span></a>
                </li>
                <li>
                    <a href="#testimonials" class="nav-link scrollto"><i
                            class="bx bx-server"></i> <span>Testimonials</span></a>
                </li>
                <li>
                    <a href="#contact" class="nav-link scrollto"><i
                            class="bx bx-envelope"></i> <span>Contact</span></a>
                </li>
            </ul>
        </nav>

    </div>
</header>

<!-- End Header -->
{% endblock content %}
