{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- ======= Testimonials Section ======= -->
{% if testimonials_data %}
<section id="testimonials" class="testimonials section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Depoimentos</h2>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                {% for testimonial in testimonials_data %}
                <div class="swiper-slide">
                    <div class="testimonial-item" data-aos="fade-up">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            {{ testimonial.testimonial_text }}
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="{{ testimonial.avatar.thumbnail.url }}" class="testimonial-img" alt="">
                        <h3>{{ testimonial.name }}</h3>
                        <h4>{{ testimonial.position }}</h4>
                    </div>
                </div>
                {% endfor %}

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>
{% endif %}
<!-- End Testimonials Section -->
{% endblock content %}
